### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np
pd.options.display.float_format = '${:,.2f}'.format

# File to Load (Remember to Change These)
data_file= "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
data_file_df = pd.read_csv(data_file)
data_file_df.head()
#checked type - datatypedf is a df
#data_file_df.dtypes

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",$3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,$1.56
2,2,Ithergue48,24,Male,92,Final Critic,$4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,$3.27
4,4,Iskosia90,23,Male,131,Fury,$1.44

## Player Count

* Display the total number of players

In [2]:
unique = data_file_df["SN"].unique()
uniquecount = len(unique)

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
avevalue = data_file_df["Price"].mean()
purchases = data_file_df["Purchase ID"].count()
revenue = data_file_df["Price"].sum()
data = [{'Number of Unique Items': uniquecount, 'Average Price': avevalue, 'Number of purchases':purchases, 'Total Revenue':revenue}]
# Creates DataFrame. 
newfile = pd.DataFrame(data) 

# Print the data, #newfile is a dataframe
newfile

   Number of Unique Items  Average Price  Number of purchases  Total Revenue
0                     576          $3.05                  780      $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
#Clean by gender summary file
gender_type_df = data_file_df[["Gender", "SN", "Age","Price"]]
gender_type_df.head()

  Gender             SN  Age  Price
0   Male        Lisim78   20  $3.53
1   Male    Lisovynya38   40  $1.56
2   Male     Ithergue48   24  $4.88
3   Male  Chamassasya86   24  $3.27
4   Male      Iskosia90   23  $1.44

In [5]:
groupedgender_df = gender_type_df.groupby(['Gender', 'SN', 'Age']).mean()

In [6]:
sum_gender_df = groupedgender_df.groupby('Gender').count()
sum_gender_df = sum_gender_df.sort_values("Price", ascending = False)
percent = pd.DataFrame(sum_gender_df['Price']/uniquecount) * 100
sum_gender_df['Percent'] = percent
#rename columns
renamed_df = sum_gender_df.rename(columns={"Gender":"Gender", "Price":"Total Count", "percent":"Percent"})
renamed_df.style.format({'Percent':"{:.2%}"})
renamed_df
#another dataframe
## the format above command works on an integer but not on a float
## I have not yet discovered how to change the format of percent, and why the format line is not working

                       Total Count  Percent
Gender
Male                           484   $84.03
Female                          81   $14.06
Other / Non-Disclosed           11    $1.91


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender

* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [7]:
#do basic calculations
gender_purchase_df = data_file_df.groupby('Gender').agg({'SN':'nunique','Purchase ID':'count','Price':['mean','sum']})

gender_purchase_df.columns={'Player', 'Buyers', 'x', 'y'}
genderpurchase_df = gender_purchase_df.rename(columns={'y':'Players', 'Player':'Ave Purchase Price', 'x':'Total Purchase Value'})

#instead of counting by purchase count, we need to count by the unique count above so that we are counting average total purchase by unique persons
genderpurchase_df['aveperperson'] = (genderpurchase_df['Total Purchase Value'])/(genderpurchase_df['Players'])

genderpurchasesfile_df = genderpurchase_df('')
#gender_purchase_df['unique'] = gender_purchase_df['sum']/unique
genderpurchase_df

TypeError: 'DataFrame' object is not callable

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [ ]:
#create bins
bins = [0, 9, 14, 19, 24, 29, 34, 39, 40]
group_labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

pd.cut(data_file_df["Age"], bins, labels=group_labels).head()

# Place the data series into a new column inside of the DataFrame
data_file_df["Age Bracket"] = pd.cut(data_file_df["Age"], bins, labels=group_labels)

In [ ]:
#do basic calculations
purchase_df = data_file_df.groupby('Age Bracket').agg({'SN':'nunique','Purchase ID':'count','Price':['mean', 'sum','min']})
purchase_df.columns=['Player', 'Buyers','Ave Value', 'Total Value', 'Minimum' ]
purchase_df['Percent'] = (purchase_df['Player'])/(uniquecount)


#set up DF with only desired columns and then rename appropriate columns  
demopurchase_df= purchase_df[['Player', 'Percent']]
demopurchase_df.style.format({'Percent':"{:.2%}"})

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [ ]:
#do basic calculations, using purchase_df from above
purchase_df['Avg Total Purchases'] = (purchase_df['Total Value'])/(purchase_df['Player'])


#set up DF with only desired columns and then rename appropriate columns  
agepurchase_df = demo_purchase_df[['Buyers', 'Ave Value', 'Total Value','Avg Total Purchases']]
agepurchase_df

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [ ]:
#do basic calculations
sn_df = data_file_df.groupby('SN').agg({'Purchase ID':'count','Price':['mean', 'sum']})
#new column names
sn_df.columns=['Purchase Count', 'Ave Purchase Price','Total Purchase Value']

#sort
sn_df.sort_values(by=['Total Purchase Value'], ascending = False).head(5)

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [ ]:
#do basic calculations
item_df = data_file_df[['Item ID', 'Item Name', 'Price']]
item_unique_df = item_df.drop_duplicates(['Item ID'], keep='last')

pop_df = data_file_df.groupby('Item ID').agg({'Purchase ID':'count', 'Price':['sum']})

#merge the two dataframes
popular_item_df =pd.merge(pop_df, item_unique_df, on='Item ID', how ='left') 

#new column names
popular_item_df.columns=['Item ID', 'Purchase Count','Total Purchase Value', 'Item Name', 'Item Price']

#reduce to desired fields & sort
popularitem_df = popular_item_df[['Item Name', 'Purchase Count', 'Item Price', 'Total Purchase Value']]

popularitem_df.sort_values(by=['Total Purchase Value'], ascending = False).head(5)

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [ ]:
### This doesnt seem to require any additional work so not sure what I might have missed ####
#reduce to desired fields & sort
popularitem_df = popular_item_df[['Item Name', 'Purchase Count', 'Item Price', 'Total Purchase Value']]

popularitem_df.sort_values(by=['Total Purchase Value'], ascending = False).head(5)